{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
          <li> <img src="{{ product.img.url }}" alt="{{ product.name }}" class="product-cover" height="100" width="70">

            <strong>{{ product.name }}</strong>
            <a href="{% url 'shop:edit_product' product.id %}">Edit</a>
            <a href="{% url 'shop:delete_product' product.id %}">Delete</a>
        </li>
        {% empty %}
        <li>No products found.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
