{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
<div class="row my_prod_row_class">
  <div class="mx-auto">
<!--    <div>-->
<!--      <p><a href="{% url 'shop:product_list' %}">HOME</a>-->
<!--    </div>-->
  </div>
    <div class="row">
    <div class="col-md-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <div style="min-width:18rem">
            <img src="{{ product.img.url }}" alt={{product.name}} height="200" width="250">
        </div>
    </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="my_prod_title">{{product.name}}</h1>
            <p>${{product.price}}</p>
            <p class="my_title">Product Description</p>
            <p class="text-justify my_prod_text">{{product.description}}</p>

            <a class="btn btn-secondary" href="{% url 'customer:add_cart' product.id %}">Add to cart</a>
           </div>
        </div>
    </div>

</div>
{% endblock %}

