<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>List of Users</h2>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
                {% if user.is_superuser %}
                    (Admin)
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
</body>
</html>
